/.idea/
*.swp
*.swo
*.iml
.DS_Store
/eclipse-bin
*~
/.project
/.classpath
/.settings
.gradle
wrapper
/build
/buildSrc/build/
/codegen/build
/poet/build
/codegen-test/build
/codegen-jv/build
/codegen-data-plugin/build/
/codegen-syntax-plugin/build/
/syntax-java/build/
/util/build/
/*/build/
