/.idea/
*.swp
*.swo
*.iml
.DS_Store
/eclipse-bin
*~
/.project
/.classpath
/.settings
/gradle/
gradlew
gradlew.bat
.gradle
wrapper
/build
/buildSrc/build/
/codegen/build
/codegen-test/build
/codegen-jv/build